{% extends "layout.html.twig" %}
{% block title %}Bookmarks list{% endblock %}
{% block content %}
        {% for bookmark in bookmarks %}
            <p>
                <a href="{{ url('bookmark_view', {'bookmarkId': bookmark.id}) }}">
                    {{ bookmark.title }}
                </a>
                {{ bookmark.url }}
                {% for tag in bookmark.tags %}
                    {{ tag }}
                {% endfor %}
            </p>
        {% endfor %}
{% endblock %}