{% extends "layout.html.twig" %}
{% block title %}Bookmarks list{% endblock %}
{% block content %}
        {% for bookmark in bookmarks %}
            <p>
                {{ bookmark.title }}
                {{ bookmark.url }}
                {% for tag in bookmark.tags %}
                    {{ tag }}
                {% endfor %}
            </p>
        {% endfor %}
{% endblock %}